
:root {
    --detail-color-one: #61e47c;
    --base-bg-color: #e9eef2;
    --font-color: #4b617c;
    --detail-colour-two: #ff8490;
}
body {
    margin: 0;

}
/* active is a nav overlay */

 .active {
        visibility: hidden;
        z-index: 3;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: var(--base-bg-color);
        display: grid;
        grid-template-columns: 0.2fr 0.8fr 0.2fr 0.3fr 0.2fr;
        grid-template-rows: 0.2fr 0.4fr 0.1fr 0.4fr 0.1fr 0.4fr 0.1fr 0.4fr 0.1fr 1fr;
        overflow-x: hidden;
      }

    .active h1.one {
        color: var(--font-color);
        grid-column: 2/4;
        grid-row: 2/3;
        margin-top: auto;
        margin-bottom: 0;
    }

    .active h1.two {
        grid-area: two;
        color: var(--font-color);
        grid-column: 2/4;
        grid-row: 4/5;  
        margin-top: auto;
        margin-bottom: 0;      
    } 

    .active h1.three {
        grid-area: three;
        color: var(--font-color);
        grid-column: 2/4;
        grid-row: 6/7;
        margin-top: auto;
        margin-bottom: 0;
    } 


    .active h1.four {
        grid-area: four;
        color: var(--font-color);
        grid-column: 2/4;
        grid-row: 8/9;
        margin-top: auto;
        margin-bottom: 0;
    } 
    
    .navX {
        grid-area: x;
        grid-column: 4/5;
        grid-row: 2/3;
        height: 10vw;
        width: 10vw;
        justify-self: right;
        align-self: top;
        transition: transform 0.5s ease-in;
    }




  .main_container {
      position: relative;
      background-color: var(--base-bg-color);
        z-index: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 0.4fr 0.4fr 0.4fr 0.4fr 0.1fr 0.1fr auto auto 0.2fr;
        grid-template-areas:
    "nav"
    "main_section"
    "box-one"
    "box-two"
    "box-three"
    "box-four"
    "wave_divider"
    "about"
    "process"
    "contact"
    "footer"
    ;
    width: 100vw;
    }

  .nav {
    width: 100vw;
    height: auto;
    grid-area: nav;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr;
     position: relative;
  }

  .tb_logo {
    height: 24vw;
    width: 24vw;
   grid-column: 1 / 2;
   margin: 5vw 0 0 5vw;
  }

  #hamburger {
    height: 11vw;
    width: auto;
     grid-column: 3 / 4;
     justify-self: center;
     align-self: center;

     z-index: 3;
     position: absolute;
  }

  .box_under_nav_burger {
      z-index: -10;
      background-color: var(--detail-color-one);
      grid-column: 3 / 4;
      border-radius: 0 0 0 30px;
  }
  

  .main_section {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 1fr 0.1fr auto 0.1fr 0.1fr;
      width: 100vw;
    
  }

  h1 {
    font-family: dashiell-text, serif;
    font-weight: 800;
    font-style: normal;
    color: var(--font-color);
    font-size: 2.7rem;
    letter-spacing: 0.1rem;
    line-height: 100%;
  }

  .main_section h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 17vw 0 0 0;
  }

  .main_section h2 {
    width: 80vw;
    font-family: hoss-round, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--font-color);
    font-size: 1.4rem;
    grid-column: 2/3;
    grid-row: 3/4;
    letter-spacing: 0.1rem;
    line-height: 120%;
    
  }
  h2.underline {
      text-decoration: underline;
      text-decoration-color: var(--detail-color-one);
      text-decoration-thickness: 0.15em;
      text-decoration-style: wavy;
      grid-column: 2/3;
      grid-row: 5/6;
      margin-top: 0;
      
  }
.shape {
    position: absolute;
    z-index: -11;
    height: 110vw;
    margin: 200vw 0 0 -13vw;
}
.box.two {
    grid-area: box-two;
    color: var(--font-color);
}
.box.three {
    grid-area: box-three;
    color: var(--font-color);
}
.box.four {
    grid-area: box-four;
    color: var(--font-color);
}


h6 {
    grid-column: 2/3 ;
    justify-self: center;
    color: var(--font-color);
    font-family: hoss-round, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    align-self: center;
    position: absolute;
}

.box {
    width: 100vw;
    display: grid;
     grid-template-rows: 1fr 0.8rem auto 0.5fr;
    grid-template-columns: 1fr 8fr 2fr 1fr;
    margin: 0;
    padding: 0;
}

h3 {
   
    font-size: 2.4rem;
    color: var(--font-color);
}

.box h3 {
   
    font-size: 2.4rem;
    grid-column: 2/3 ;
    grid-row: 1/2;
    align-self: flex-end;
    padding: 0;
    margin: 0;
}

h4 {
    
    font-family: hoss-round, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    line-height: 120%;
    color: var(--font-color);
}
.box h4 {
    grid-column:  2/3 ; 
    grid-row: 4/5;
    padding: 0;
    margin: 0;
}
.box.one {
    grid-area: box-one;
    
}

.triangle_btn {
    height: 10vw;
    grid-column:  3/4 ; 
    grid-row: 4/5;
    justify-self: center;
    align-self: center;

}

.logo_trailblazers_full {
    height: 5vw;
    width: auto;
    justify-self: center;
    align-self: center;
}

.wave_divider {
    grid-area: wave_divider;
    display: flex;
    margin: 18vw 0 18vw 0;
}
.wave {
    width: 70vw;
    display: flex;
    margin: auto
}

.about {
width: 100vw;
grid-area: about;
display: grid;
grid-template-rows: 1fr 0.8rem auto;
grid-template-columns: 1fr 10fr 1fr;

}

.about h3 {
    align-self: flex-end;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.about h4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-top: 0;
    margin-bottom: 0;
}

.process {
    grid-area: process;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 18vw 0 18vw 0;
}

.step {
    position: relative;
    display: grid;
    width: 100vw;
    grid-template-columns: 0.5fr 0.5fr  1fr 1fr 0.5fr;
    grid-template-rows: 1fr 0.8rem auto 0.5fr;
    
}
.step.one {
    grid-row: 1/2;

}
.step.two {
    grid-row: 2/3;
}
.step.three {
    grid-row: 3/4;
}
.step.four {
    grid-row: 4/5;
}
.step.five {
    grid-row: 5/6;
}

.step.five .vertical_line{
    height: 95%;
}
.vertical_line {

    height: 105%;
    width: 2vw;
    background-color: var(--detail-colour-two);
    grid-column: 1 / 3;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    justify-self: center;
    z-index: -4;  
}

.circle {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: var(--detail-colour-two);
    grid-column: 1 / 3;
    justify-self: center;
    z-index: -2;
    position: absolute;
}

.step h3 {
    display: grid;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 0;
}

.step h4 {
    
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    margin-top: 0;
    margin-bottom: 0;
}

.picture_contact {
    height: 50vw;
    justify-self: center;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin: 15vw 0 5vw 0;
}
.contact {
    grid-area: contact;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 0.2fr 0.8rem 0.1fr 0.5fr 0.0001fr 0.8rem minmax(10vw,auto) 0.8rem 0.3fr 0.8rem 0.3fr 0.3fr 0.3fr 0.3fr;
    width: 100vw;
    justify-self: center;
}

.contact h3 {
    grid-column: 2 / 3;
    justify-self: center;
    margin-bottom: 0;
}
.contact h4 {
    grid-column: 2 / 3;
    justify-self: center;
    margin-top: 0;
    margin-bottom: 0;
}
.contact form {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    justify-self: center;
    text-justify: center;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 0.8rem 1fr 0.8rem 1fr 0.8rem minmax(1ch, auto) 0.8rem 1fr;
}

.type_in {
    display: flex;
    border: none;
    border-radius: 10px 10px 10px 10px;
    grid-column: 2 / 3;
    color: var(--font-color);
    font-size: 1.3rem;
    font-family: hoss-round, sans-serif;
    font-weight: 300;
    padding-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 0;
    overflow: hidden;
    min-height: 10vw;
    margin: 0;
}

#name_textfield {
    grid-row: 3 / 4;
}
#email_textfield {
    grid-row: 5 / 6;
}
#growing_textfield {
    grid-row: 7 / 8;
    margin: 0;
}
.submit_btn {
   
    border: none;
    background-color: var(--detail-colour-two);
    border-radius: 10px 10px 10px 10px;
    margin-top: 5vw;
    grid-row: 9 / 10;
    grid-column: 2 / 3;
    color: var(--font-color);
    font-size: 1.3rem;
    font-family: hoss-round, sans-serif;
    font-weight: 500;
    padding: 5vw;
    margin: 0;
}

#message_us{
    justify-self: center;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
}

.text.one {
    grid-row: 1 / 2;
}

.text.two {
    grid-row: 3 / 4;
    text-align: center;
}
.text.three {
    grid-row: 5 / 6;
}

.text.four {
    grid-row: 9 / 10;

}

.text.five {
    grid-row: 11 / 12;
    text-align: center;
}

.text.six {
    grid-row: 13 / 14;
    text-align: center;
   
}

.footer {
    grid-area: footer;
    background-color: var(--font-color);
    width: 100vw;
    padding: 5vw 0 5vw 0;
    display: grid;
}